
<div class="col-sm-<%= smWidth %>">
    <div class="card">
        <a href="http://<%= server %>/cams/<%= name%>/?action=stream">
            <div class="embed-responsive embed-responsive-4by3">
                <img class="embed-responsive-item" src="http://<%= server%>/cams/<%= name%>/?action=stream" %>  />
            </div>
        </a>
    </div>
</div>