<div class="col-sm-<%= smWidth %>">
    <div class="card text-center">
        <div class="card-body"> 
           <p class="card-text card-title "><small class="text-muted"><%= name %></small></p> 
           <p class="card-text"><span id='<%= domID %>_value_id'  ><%= defaultValue %> </span><%= units %></p>
         </div>
     </div>
</div>
